.header {
  background: #FFF;
  width: 100%;
  display: block;
  .logo {
    
    a {
      width: 164px;
      height: 54px;
      display: block;
      margin: 34px auto 28px;
      text-align: center;
      text-indent: -10000px;
      background: transparent url('../img/logo-persiel-design-header-small.svg') center center no-repeat;
      
      @include breakpoint(l_and_up) {
        width: 108px;
        height: 129px;
        display: block;
        margin: 48px auto 36px;
        background: transparent url('../img/logo-persiel-design-header.svg') center center no-repeat;
      }
    }
  }
}
